{% extends "base.html" %}
{% load static %}

{% block title%}Update reservation{% endblock %}

{% block content %}

    <h2>Update Reservation</h2>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save changes</button>
        <a href="{{ request.META.HTTP_REFERER }}" style = "padding: 10px 20px; background-color: #ccc; color: black; text-decoration: none; border-radius: 4px; margin-left: 10px;">No, Go Back</a>
    </form>

    <script src="{% static 'reservations/js/reservation.js' %}"></script>

{% endblock %}