{%extends "base.html"%}

{%block content%}
    <h1>{{dish.name}}</h1>
    <p>Category: {{dish.category}}</p>
    <p>Price: {{dish.price}} Euro</p>
    <p>Ingredients:
        {% for ingredient in dish.ingredients.all %}
            <p>{{ ingredient }}</p>
        {% endfor %}
    </p>
    <p>Status: 
        {%if dish.available%}
            Available
        {%else%}
            Sold out
        {%endif%}
    </p>
    {% if dish.img %}
        <img src = "{{ dish.img.url }}" alt = "{{ dish.name }}" style = "max-width:300px;">
    {% endif %}
    <a href="{% url "menu:menu-list" %}">Back to menu</a>
    {% if user.is_staff or "Managers" in user.groups.all.0.name %}
        <input type="button" onclick = "window.location.href='{% url 'menu:delete-dish' dish.pk %}'" value="Delete">
        <input type="button" onclick = "window.location.href='{% url 'menu:update-dish' dish.pk %}'" value="Update">
    {% endif %}
{%endblock%}