{% extends "base.html" %}

{% block title %}{{ dish.name }}{% endblock %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            <div class="card shadow-sm rounded-3 p-4">
                {% include "menu/includes/base_dish_row.html" with dish=dish show_description=True allow_realign=False show_view_button=False style="detail" category=dish.category %}
            </div>

            <div class="mt-3 d-flex gap-2">
                <a href="{% url 'menu:menu-list' %}" class="btn btn-secondary">Back to Menu</a>
            </div>
            
        </div>
    </div>
{% endblock %}