{% extends "base.html" %}

{% block title %}Search availability{% endblock %}

{%block content%}
    {% for table_id, hours in availability.items %}
        <h3>Table {{ table_id }}</h3>
            {% if hours %}
                Available hours: <br>
                {% for h, label in hours %}
                    {{ label }}{% if not forloop.last %}; {% endif %}
                {% endfor %}
            {% else %}
                No available hours
            {% endif %}
        {% empty %} No available tables
    {% endfor %}
{%endblock%}