{% extends "base.html" %}

{% block content %}
<h1>{{ table }}</h1>
<p>Seats: {{ table.seats }}</p>

<h2>Reservations</h2>
{% if table.reservations %}
    <ul>
        {% for reservation in table.active_reservations.all %}
            <li>
                {{ reservation.date }} 
                ({{ reservation.start_hour }} - {{ reservation.end_hour }}) - 
                {{ reservation.guests }} guests - Reserved by {{ reservation.user.first_name }} {{reservation.user.last_name}}
            </li>
            <a href="{%url 'tables:update-reservation' reservation.pk%}">Update reservation</a>
            <a href="{%url 'tables:cancel-reservation' reservation.pk%}">Cancel reservation</a>
        {% endfor %}
    </ul>
{% else %}
    <p>No reservations for this table.</p>
{% endif %}

{% if user.is_staff or "Managers" in user.groups.all.0.name %}
    <a href="{%url 'tables:update-table' table.pk%}">Update table</a>
    <a href="{%url 'tables:delete-table' table.pk%}">Delete table</a>
{% endif %}

{% endblock %}