{% extends "base.html" %}

{% block content %}
<h1>All Tables</h1>

<table border="1" cellpadding="5" cellspacing="0">
    <thead>
        <tr>
            <th>Table Number</th>
            <th>Seats</th>
            <th>Active Reservations</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        {% for table in tables %}
        <tr>
            <td>{{ table.number }}</td>
            <td>{{ table.seats }}</td>
            <td>{{ table.reservations.count }}</td>
            <td><input type="button" onclick="window.location.href='{% url 'tables:table-detail' table.pk %}'" value="Check"></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No tables found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}