{% extends "base.html" %}
{% load static %}

{% block title%}Update reservation{% endblock %}

{% block content %}

    <h2>Update Reservation</h2>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save changes</button>
    </form>

    <script src="{% static 'js/reservation.js' %}"></script>

{% endblock %}