{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Update Table{% endblock %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card shadow-sm p-4">
                <h1 class="mb-4 text-center">Update Table {{ table.number }}</h1>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-warning btn-block mt-3">Update Table</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}